<a href="https://colab.research.google.com/github/Namesakenberg/Hyperparameter-Hangout/blob/main/hypothesis_testing_session_46_Ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv('/content/titanic_full.csv')

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB

In [5]:
df.isnull().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

# 1 sample tTest

# if the assumption is made that the average age of the population is 35 , is the assumption true ? consider a sample of size 25

In [6]:
#  hypothesis : the average age of the passengers travelling is 35
# perform a hypothesis test for the above assumption

In [7]:
# null hypo : mean_age = 35
# alternate hypo : mean_age != 35

pop=df['age'].dropna()
sample = pop.sample(25).values
mean = 35

In [8]:
sample

array([25., 23., 41., 55., 48., 19., 18., 44., 18.,  9., 33., 32., 42.,
        8., 35., 42., 40., 21., 41., 17., 29., 54.,  3., 25., 19.])

In [9]:
X = sample.mean()
S  = sample.std()
n  = 25

In [10]:
# since the number of samples <30 we need to prove that the sample is taken from the population following normal distribution

In [11]:
from scipy.stats import shapiro
shapiro_age = shapiro(sample)

In [12]:
shapiro_age

ShapiroResult(statistic=0.9672559448261978, pvalue=0.5765687771775082)

In [13]:
# since the shapiro's p value is more than 0.05 the samples follow normal distribution

In [14]:
tstatistic , pvalue = stats.ttest_1samp(sample,mean)

In [15]:
print('tstatistic : ',tstatistic)
print('pvalue : ',pvalue/2) # as we are calculatig 2 tailed test divide the p value by 2

tstatistic :  -1.871838847825291
pvalue :  0.03673294050305954

In [16]:
# since the p value is smaller than 0.05 , the null hypothesis is proved wrong (rejected)
# hence our assumption to say that the mean age is 35 is false

In [17]:
# checking the results
pop.mean()

29.8811345124283

In [18]:
# hence the answer is corrcet the considered assumption of mean being equal to 35 is FALSE

# Independent 2 sample t-tests

## consider the owner of a website claimed that the amount of time spent by the users on the website from the phone and from the desktop is the same.check whether this assumption is correct on the given data
## the data has 30 samples of both the desktop and the mobile users
desktop_users = [12, 15, 18, 16, 20, 17, 14, 22, 19, 21, 23, 18, 25, 17, 16, 24, 20, 19, 22, 18, 15, 14, 23, 16, 12, 21, 19, 17, 20, 14]


mobile_users = [10, 12, 14, 13, 16, 15, 11, 17, 14, 16, 18, 14, 20, 15, 14, 19, 16, 15, 17, 14, 12, 11, 18, 15, 10, 16, 15, 13, 16, 11]

In [19]:
# this is an example of the 2 sample t tests
# check the conditions before application
desktop_users = [12, 15, 18, 16, 20, 17, 14, 22, 19, 21, 23, 18, 25, 17, 16, 24, 20, 19, 22, 18, 15, 14, 23, 16, 12, 21, 19, 17, 20, 14]
mobile_users = [10, 12, 14, 13, 16, 15, 11, 17, 14, 16, 18, 14, 20, 15, 14, 19, 16, 15, 17, 14, 12, 11, 18, 15, 10, 16, 15, 13, 16, 11]


# 1) the data must be independent of each other : true
# 2) the data must be random : true
# 3) the variance of both of the datas must be equal

from scipy.stats import levene
levene_res = levene(desktop_users , mobile_users)
levene_res
# since the p value of the levene test is greater than 0.05 the variance of both of the datas are equal

# 4) the datas should follow the normal distribution
# since the data points are equal to 30 in each of the datas they will naturally follow the central limit theorem

LeveneResult(statistic=2.94395488191752, pvalue=0.09153720526741761)

In [31]:
# calculagting the p values
desktop_mean = np.mean(desktop_users)
desktop_stddev = np.std(desktop_users,ddof=1)

mobile_mean = np.mean(mobile_users)
mobile_stddev = np.std(mobile_users)

t_val = (desktop_mean-mobile_mean) / ((((desktop_stddev)**2/30)+((mobile_stddev)**2/30))**0.5)
t_val

4.653131015000176

In [47]:
from scipy.stats import t
dof = 58
t_value = -1*t_val
cdf_val = t.cdf(t_value,dof)
cdf_val*2
p_value = float(cdf_val*2)
p_value

1.942355177210593e-05

In [ ]:
# the above p value is very close to zero as it its in the exponential form hence
# as the p-value < 0.05 the null hypothesis is rejected
# hence the claim made by the owener is FALSE